{{ $posts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $groups := slice }}
{{ range $posts }}
  {{ $key := .Date.Format "2006-01" }}
  {{ $groups = $groups | append (dict "key" $key "month" (.Date.Format "January 2006") "page" .) }}
{{ end }}
{{/* group by key */}}
{{ $map := dict }}
{{ range $groups }}
  {{ $k := .key }}
  {{ $arr := cond (index $map $k) (index $map $k) (slice) }}
  {{ $map = merge $map (dict $k (append $arr .page)) }}
{{ end }}

<div class="widget widget-archive">
  <div class="widget-title">Archive</div>
  <details>
    <summary>Browse months</summary>
    <ul class="archive-list">
      {{ range sort (keys $map) "value" "desc" }}
        {{ $pages := index $map . }}
        {{ $label := (index $pages 0).Date.Format "January 2006" }}
        <li><a href="{{ (index $pages 0).Date | time.Format "/2006/01/" | relURL }}">{{ $label }}</a></li>
      {{ end }}
    </ul>
  </details>
</div>
