<header class="site-header" role="banner">
  <div class="container">
    <div class="logo">
      <a class="logo__link" href="{{ "/" | relURL }}" rel="home">
        <div class="logo__title">{{ site.Title }}</div>
      </a>
      {{ with site.Params.description }}<p class="tagline">{{ . }}</p>{{ end }}
    </div>

    {{ with site.Menus.main }}
    <nav class="topmenu" aria-label="Main navigation">
      <ul>
        {{ range . }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    {{ end }}
  </div>
</header>
