{{ define "main" }}
  {{ $hero := .Site.Params.heroImage | default "img/hero.jpg" }}

  <section class="hero">
    <div class="hero__image" style="background-image:url('{{ $hero | relURL }}')"></div>
    <div class="hero__overlay">
      <h1 class="hero__title">{{ .Site.Title }}</h1>
      <p class="hero__subtitle">{{ .Site.Params.description }}</p>
    </div>
  </section>

  {{ $sections := .Site.Params.mainSections | default (slice "posts") }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" $sections) }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
